{% extends "layout.html" %}

{% block pageTitle %}
    Enter code - {{serviceName}}
{% endblock %}

{% block header %}
    {{super()}}
{% endblock %}

{% block content %}
    <form action="password-reset-check-code" method="post">
        {{ govukFieldset({
            legend: {
                html: "We've sent you an email",
                classes: "govuk-fieldset__legend--l",
                isPageHeading: true
            }
        })}}

        <p>
            We sent it to <strong>{{data['password-reset-email']}}</strong>. It contains your password reset code and should arrive within a few minutes.
        </p>

        {{ govukInput({
            label: {
                text: "Password reset code"
            },
            id: "password-reset-code",
            name: "password-reset-code",
            classes: "govuk-!-width-one-half",
            attributes: {
                "required": true
            }
        }) }}

        {{ govukButton({
            text: "Continue"
        }) }}

        <p>
            <a href="password-reset-email">I didn't get the email</a>
        </p>
    </form>
{% endblock %}
