{% extends "layout.html" %}

{% block pageTitle %}
    Reset password - {{serviceName}}
{% endblock %}

{% block header %}
    {{super()}}
{% endblock %}

{% block content %}
    <form action="password-reset-email" method="post">
        {{ govukFieldset({
            legend: {
                html: 'Reset your password',
                classes: "govuk-fieldset__legend--l",
                isPageHeading: true
            }
        })}}

        <h2 class="govuk-heading-m">Before you start, you'll need:</h2>

        <ul class="govuk-list">
            <li>
                Your email address
            </li>
        </ul>

        <h2 class="govuk-heading-m">What will happen:</h2>

        <ol class="govuk-list govuk-list--number">
            <li>
                Enter the email address you normally use to sign in.
            </li>
            <li>
                We will send a password reset code to that email address.
            </li>
            <li>
                Enter the password reset code.
            </li>
            <li>
                Create a new password.
            </li>
            <li>
                You’ll be signed in to DWP Authenticate.
            </li>
        </ol>

        {{ govukButton({
            text: "Start password reset"
        }) }}
    </form>
{% endblock %}
