{% extends "layout.html" %}

{% block pageTitle %}
    There was a problem - {{serviceName}}
{% endblock %}

{% block header %}
    {{super()}}
{% endblock %}

{% block content %}
    <form action="password-reset-code" method="post">
        {{ govukFieldset({
            legend: {
                html: 'There is a problem',
                classes: "govuk-fieldset__legend--l",
                isPageHeading: true
            }
        })}}

        <p>The password reset code you entered does not match the one we sent you.</p>

        {{ govukButton({
            text: "Try again"
        }) }}
    </form>
{% endblock %}
