{% extends "layout.html" %}

{% block pageTitle %}
    Password reset complete - {{serviceName}}
{% endblock %}

{% block header %}
    {{super()}}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "Your password has been reset"
            }) }}

            <p>You will now use the new password when signing in to DWP Authenticate.</p>

            <h2 class="govuk-heading-m">Accessing HTDS</h2>

            <p>As you've already been authenticated, you can continue to this service now.</p>

            {{ govukButton({
                text: "Continue",
                href: "signin"
            }) }}
        </div>
    </div>
{% endblock %}
