{% extends "layout.html" %}

{% block pageTitle %}
    Enter email address - {{serviceName}}
{% endblock %}

{% block header %}
    {{super()}}
{% endblock %}

{% block content %}
    <form action="password-reset-code" method="post">
        {{ govukFieldset({
            legend: {
                html: 'Enter your email address',
                classes: "govuk-fieldset__legend--l",
                isPageHeading: true
            }
        })}}

        <p>We will send you a password reset code</p>

        {{ govukInput({
            label: {
                text: "Email address"
            },
            id: "password-reset-email",
            name: "password-reset-email",
            classes: "govuk-!-width-one-half",
            type: "email"
        }) }}

        {{ govukButton({
            text: "Send code"
        }) }}
    </form>
{% endblock %}
