{% extends "layout.html" %}

{% block pageTitle %}
    Sign in - {{serviceName}}
{% endblock %}

{% block header %}
    {{super()}}
{% endblock %}

{% block content %}
    <form action="signup-complete" method="post">
        {{ govukFieldset({
            legend: {
                html: 'Sign in through DWP Authenticate',
                classes: "govuk-fieldset__legend--l",
                isPageHeading: true
            }
        })}}

        <p>To use <strong>HTDS</strong>, you need to prove it's you signing in.</p>

        {{ govukInput({
            label: {
                text: "Email address"
            },
            id: "email-address",
            name: "email-address",
            classes: "govuk-!-width-one-half",
            type: "email"
        }) }}

        {{ govukInput({
            label: {
                text: "Password"
            },
            id: "user-password",
            name: "user-password",
            classes: "govuk-!-width-one-half",
            type: "password"
        }) }}

        {{ govukButton({
            text: "Continue"
        }) }}

        <h2 class="govuk-heading-m">Problems signing in</h2>

        <ul class="govuk-list signin">
            <li>
                <a href="#" class="govuk-link">I forgot my password</a>
            </li>
            <li>
                {{ govukDetails({
                    summaryText: "I forgot my email address",
                    text: "lorem ipsum dolor sit amet, consectetur adepiscing"
                }) }}
            </li>
            <li>
                {{ govukDetails({
                    summaryText: "I don't have the mobile phone linked to my account",
                    text: "lorem ipsum dolor sit amet, consectetur adepiscing"
                }) }}
            </li>
        </ul>
    </form>
{% endblock %}
